@model IEnumerable<WeatherApp.Models.Weather>

@{
    ViewBag.Title = "Index";
}


<script src="~/Scripts/jquery-1.10.2.js"></script>
<h2>Index</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Title: <input type="number" id="zip" />
        <input type="submit" id="click_btn" value="Enter" class="btn btn-default" />
    </p>
    <div id="update_div"></div>
    }
</p>



