@model IEnumerable<WeatherApp.Models.Weather>

@{
    ViewBag.Title = "Index";
}


<script src="~/Scripts/jquery-1.10.2.js"></script>
<h2 class="text-center">My Weather App</h2>


    @using (Html.BeginForm())
    {
    <div class="input-group">
        <input type="number" class="form-control col-md-offset-5" placeholder="Enter a 5 digit Zip-Code" id="zip" />
        <span class="input-group-btn col-md-pull-4">
        <input type="submit" id="click_btn" value="Search" class="btn btn-primary" />
        </span>
    </div>
    <div id="update_div"></div>
    }




<script>
    $(document).ready(function () {
        $("#click_btn").click(function () {
            zipNumber = $("#zip").val();
            $.ajax({
                type: "get",
                url: "/Weathers/Search?" + "zip=" + zipNumber,
                datatype: "html",
                success: function (data) {
                    $("#update_div").html(data);
                }
            });

            return false;
        });

    });

</script>



